
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">




<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <% locals.cartItems.forEach(item=>{ %>
                        <tr>
                            <td class="align-middle"><img src="/uploads/<%=item.productInfo.images[0] %>" alt=""
                                    style="width: 50px;"> </td>
                            <td class="align-middle">
                                <%=item.productInfo.name %>
                            </td>
                            <td class="align-middle">
                                <%=item.productInfo.price %>
                            </td>
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary " id="proId" onclick="changeQuantity('<%=item._id%>','<%=item.productInfo._id%>',-1)">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    
                                    <!-- <input type="text"
                                        class="form-control form-control-sm bg-secondary border-0 text-center"> -->
                                         <b  class="form-control form-control-sm bg-secondary border-0 text-center" id="<%=item.productInfo._id%>">    
                                         <%=item.quantity %>
                                         </b>
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-primary btn-plus" id="proId" onclick="changeQuantity('<%=item._id%>','<%=item.productInfo._id%>',1)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>

                            <td class="align-middle" id="subtotal">
                                <%=item.productInfo.price * item.quantity %>
                            </td>

                            <td class="align-middle"><button class="btn btn-sm btn-danger"
                                    onclick="removeItem('<%=item._id%>','<%=item.productInfo._id%>')"><i
                                        class="fa fa-times"></i></button></td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Apply Coupon</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart
                    Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>
                            <%=total[0].total %>
                        </h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">Free</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <% if(locals.total){ %>
                        <h5 id="total"> <%=total[0].total %> </h5>
                        <% }else{ %>
                            <h5 id="total">0</h5>
                            <% } %>

                    </div>
                    <a href="/checkout">
                        <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To
                            Checkout</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
 
    function changeQuantity(cartId ,proId,count,userId){
        // console.log('button clickedddddddddddddddrrrrrrrrrrrrrrrrrrr')
        console.log(cartId)
        console.log(proId)
        console.log(count)
        // userId = req.session.user._id
        console.log(userId)
        let quantity = parseInt(document.getElementById(proId).innerHTML);
        console.log(quantity)

        count = parseInt(count)

        if(quantity ===1 &&count ===-1){
            Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this data!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel'
            }).then((result)=>{
                if(result.isConfirmed){
                    updateQuantity(cartId,proId,count,quantity,userId)
                }
            })
        }else{
            updateQuantity(cartId,proId,count,quantity,userId)
        }
    }

    function updateQuantity(cartId ,proId,count,quantity,userId){
        console.log("helloo updateqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq")
        console.log(userId);
        $.ajax({
            url:'/changeProductQuantity',
            data:{
                cart: cartId,
                product:proId,
                count:count,
                quantity:quantity,
                userId:userId,
            },
            method:'post',
            success: (response) =>{
                console.log("response fffff")
                var subtotalAmount = response.subtotalAmount;
                // console.log(subtotalAmount,"subtotalamoutn")
                var subtotal = response.subtotal
                // console.log(subtotal,"subtotal");
console.log(response.total[0].total,"response total")
// console.log( quantity)
// console.log(count)
                document.getElementById("total").innerHTML = response.total[0].total     //id name is "total" and dont use 'total'  ''&""is different 
                document.getElementById("subtotal").innerHTML = response.subtotal[0].subtotal
                
                if (response.removeProduct) {
                    console.log('into the swal')
                    Swal.fire({
                        title:'Product Removed',
                        text:"product removed from the cart",
                        icon: 'success',
                        showCancelButton :true,
                        confirmButtonText:"confirm",
                    }).then((result)=>{
                        if(result.isConfirmed){
                            location.reload();
                        }
                    });
                } else {
                    console.log("only add or remove 1")
                    document.getElementById(proId).innerHTML = quantity + count;
                }
            }
        })
    }
    



    function removeItem(cartId, proId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this data!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel'
        }).then((result) => {
            if (result.isConfirmed) {
               $.ajax({
                url:'/removeItem',
                data:{
                    cart:cartId,
                    product:proId,
                    confirmResult:true
                },
                method:"post",
                success:(response)=>{
                    Swal.fire({
                        title:"success",
                        text:"product removed",
                        icon:"success"
                    }).then(()=>{
                        location.reload();
                    })
                }
               })
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                // User cancelled, do nothing
            }
        });

    }
</script>




</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include SweetAlert2 library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>